<% flash.each do |type, msg| %>
<div class="register-flash">
  <%= msg %>
</div>
<% end %>

<%= render "chats/modal_popup" %>

Current User :-<%= current_user.name %>

<h4> Hello and Welcome </h4>
<br>
<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col">
      <%= button_to "Friends", friends_path, method: :get, id: 'all_friends', :remote => true, "data-toggle" => "modal", "data-target" => ".modal" %>
    </div>
    <div class="col">
      <%= button_to " Add Friends", users_add_friends_path, method: :get, id: 'all_friends', :remote => true, "data-toggle" => "modal", "data-target" => "#post-modal" %>
    </div>
    <div class="col">
      <%= button_to "Requests", request_path, method: :get %>
    </div>

    <div class="col">
      <%= link_to "Chat", chats_path %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <%= button_to " Add post", posts_path, method: :get, :remote => true, "data-toggle" => "modal",  "data-target" => "#post-modal" %>
    </div>
    <div class="col-9">
      <%= button_to " view your profile", profile_path, method: :get %>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="card ml-5" style="width: 48rem">
    <div class="border border-left border-right px-0">
      <div>
        <% @posts.each do |post| %>
        <div>
          <div class="d-flex p-3 border-bottom">
          <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (24).webp" class="rounded-circle"
            height="50" alt="Avatar" loading="lazy" /> -->
            <div class="d-flex w-100 ps-3">
              <div>
                <a href="">
                  <h6 class="text-body">
                    <%= User.find_by(id: post.user_id).name.capitalize %>
                    <span class="small text-muted font-weight-normal"><%= post.created_at.strftime("%d/%m/%Y") %></span>
                  </h6>
                </a>
                <p style="line-height: 1.2;">
                  <p> <p> <%= post.content %> </p>
                  <% @likes = Like.find_by(post_id: post.id) %>
                  <% if @likes == nil %>
                    <h5>0</h5>
                  <% else %>
                    Likes:- <%= @likes.user_id.count %>
                  <% end %>
                  
                  <% if @like = Like.where(post_id: post.id).where("user_id @> ?", "{#{current_user.id}}").present? %>
                  <div class="float-lg-center edit-button" id="unlike_button-<%= post.id %>">
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    <%= link_to "Unlike", unlike_post_path(post_id: post.id), remote: true, method: :patch , class: "link"%>
                  </div>

                  <% else %>

                  <div class="float-lg-center edit-button" id="like-<%= post.id %>">
                    <div class="like-button">
                      <i class="bi bi-hand-thumbs-up"></i>
                      <%= link_to "Like", likes_path(post_id: post.id, 'user_id[]': current_user.id, current_user_id: current_user.id), remote: true, method: :post, class: "link"%>
                    </div>                     
                  </div>

                  <% end %>
                </p>


                <!-- append new comment -->
                <div id="new_comment-<%= post.id %>">
                  
                </div>

                <!-- view all comments -->
                <h5 id="all_comments-<%= post.id %>"> </h5>
                
                <%= form_tag comments_path, remote: true, method: :get do %>
                <%= hidden_field_tag :post_id, post.id %>
                <%= hidden_field_tag :user_id, post.user.id %>
                <%= submit_tag "View comments" %>
                <% end %>
              </p>

              <!-- commnet section -->
              <div class="card my-1">
                <div class="card-body">
                  <p class="font-weight-bold">Comments</p>
                  <div class="form-group">
                  </div>

                  <%= render "comments/comment_form" , post: post, comment: @comment%>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
