
<%= render "chats/modal_popup" %>

<h5>Welcome <%= current_user.name.capitalize %>:- </h5>

<h3> Hello and Welcome </h3>
<br>
<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col">
      <%= button_to "Friends", friends_path, method: :get, id: 'all_friends', :remote => true, "data-toggle" => "modal" %>
    </div>
    <div class="col">
      <%= button_to " Add Friends", users_add_friends_path, method: :get, id: 'all_friends', :remote => true, "data-toggle" => "modal" %>
    </div>
    <div class="col">
      <%= button_to "Requests", request_path, method: :get %>
    </div>

    <div class="col">
      <%= link_to "Chat", chats_path %>
    </div>
  </div>
</div>


<div class="container">
<%= button_to " Add post", posts_path, method: :get, :remote => true, "data-toggle" => "modal" %>
</div>