<div class="container-fluid">
<%= link_to "Go to home page", users_dashboard_path %>

  <div class="row justify-content-center">
    <h6 class="mt-4 display-6"> Your friends </h6>
  </div>
Current user id :-<%= current_user.id %><br>

<!-- button for modal popup -->

<%= link_to "View all friends", friends_path, id: 'all_friends', :class => "btn", :remote => true, "data-toggle" => "modal" %>
<!-- end button code -->


</div>
<br>
<div class="container-fluid">
<%= form_tag search_path, :method => 'get'  do %>
   <%= text_field_tag :search, params[:search], placeholder: "Search  from your friends"%>
   <%= submit_tag "Search", :name => nil  %>
<% end %>

<h6 class="mt-4">
<%= button_to " Add More Friends", users_add_friends_path, remote: true, method: :get%>
</h6>
</div>

<div id='post-content'></div>