<div class="container-fluid">
<%= link_to "Go to home page", users_dashboard_path %>

  <div class="row justify-content-center">
    <h6 class="mt-4 display-6"> Your friends </h6>
  </div>

Current user id :-<%= current_user.id %><br>
</div>

<br>
<br>
<%= form_tag search_path, :method => 'get'  do %>
   <%= text_field_tag :search, params[:search], placeholder: "Search your friend"%>
   <%= submit_tag "Search", :name => nil  %>
 <% end %>
 <br>
<div class="container-fluid">
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">Profile</th>
      <th scope="col">City</th>
      <th scope="col">Action</th>
      <!-- <th scope="col">Unfriend</th> -->
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= user.id %> </th>
          <td> <%= user.name %></td>
          <td> <%= link_to "view Profile", user_path(user.id), method: "get"%></td>
          <td> <%= user.addresses.last.city%> </td>
          <td> <%= link_to "Unfriend", delete_path(@friendship_id), method: "delete"%></td>
        </tr>
      <% end %>
  </tbody>
</table>
</div>