<h5>Friend Requests :- </h5>

<%= current_user.id %><br>
<%= current_user.name %><br>


<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">Profile</th>
      <th scope="col"> Action</th>
    </tr>
  </thead>
  <tbody>
     <% @users.each do |user| %>
     <% fr_id = user.friend_ships.first.id %>
    <tr>
      <th scope="row" id="user<%= user.id %>"> <%= user.id %> </th>
      <td> <%= user.name %> </td>
      <td><%= link_to "view Profile", user_path(user.id), method: "get", class: "link" %></td>
      <td> <%= link_to "Accept request", accept_request_path(fr_id), method: "put",class: "link" %></td>
      <% end %>
    </tr>
  </tbody>
</table>