<%= form_tag create_group_path, method: :post, id: 'selected_members', class: 'form-horizontal' do %>
    Group name :- <%= text_field_tag :g_name %>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>ID </th>
        <th>Name</th>
        <th style="width:180px;"> Add members to the group </th>
      </tr>
    </thead>    
    <tbody>
      <tr>
        <td> <%= hidden_field_tag 'selected_members[]', current_user.id %> </td>
      </tr>
    <% @users.each do |user| %>
      <tr>
        <td> <%= user.id %></td>
        <td><%= user.name %> </td>
        <td><%= check_box_tag 'selected_members[]', user.id %></td>
      </tr>
    <% end %>

      <%= content_tag :button, :type => :submit, class: 'btn btn-success group_create_button' do %>
        Submit
      <%end%>
    </tbody>
  </table>
<%end%>