<div class="chat-template group-<%= @group.id %>" data-group="<%= @group.id %>">
  <ul>
    <% @chats.each do |chat| %>
      <% class_name = chat.sender_id == current_user.id ? "msg-right" : "msg-left" %>
      <li class="<%= class_name %>">      
        <div class="msg-left-sub msg-desc">
          <h5> <%= chat.m_body %><br>
          <span style="float:right;"> :-<%= chat.sender.name %></span><br>
          <% if chat.sender_id == current_user.id %>
            <%= link_to 'Delete', delete_message_path(chat), method: "delete", class: "link"%>
          <% end %>
          </h5>
        </div>
      </li>
    <% end %>
  </ul>
</div>
