<%= render "modal_popup" %>

<div class="create_group"> <%= link_to "Create Group", chats_path, method: :get, id: 'add_members', :remote => true, "data-toggle" => "modal", class: "btn btn-primary" %> </div>

<div class="main-section">
  <div class="head-section">
    <div class="headLeft-section">
      <div class="headLeft-sub">
        <input type="text" name="search" placeholder="Search...">
        <button> <i class="fa fa-search"></i> 
        </button>
      </div>
    </div>
    <div class="headRight-section">
      <div class="headRight-sub">
        <h3 id="message_reciever"> Chat </h3>
      </div>
    </div>
  </div>

  <div class="body-section" data-current="<%= current_user.id %>">
    <div class="left-section scrollingDiv" data-mcs-theme="minimal-dark">
      <h5> Recent chats :-</h5>
      <ul>
        <% @groups.each do |group| %>
          <li class="recent-group-<%= group.id %>">
            <div class="chatList">
              <div class="desc">
                <h5><%= head_name = group.group_type == "group" ? group.g_name : get_chat_name(group.grp_members - [current_user.id.to_s]) %>
                </h5><br>
                  <h4>
                  <% if head_name == group.g_name %>
                    <% @members = User.where(id: group.grp_members) %>
                    <% @members.each do |members| %>
                      <span class="group-members"><%= members.name %></span>
                      <% if(members != @members.last) %>
                       <span class="group-members">,</span>
                       <% end %>
                    <% end %>
                  <% end %>
                  </h4>
              </div>
              <div>
                <%= form_tag show_chats_path, remote: true, method: :post do %>
                <%= hidden_field_tag :group_id, group.id %>
                <%= submit_tag "Chat" %>
                <% end %>
              </div>
            </div>
            <% end %>
          </li>
      </ul>
    </div>
    <div class="right-section" id="new_mess">
      <div class="message scrollingDiv" data-mcs-theme="minimal-dark">
        <ul id="chatbot">
          <li class="msg-left">
            <div class="msg-left-sub">
              <div id="chat">

              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- Message box start -->
      <div id="start_chat">
      </div>
    </div>

  </div>
</div>
