<div class="row py-5 px-4">
    <div class="profile-page">
      <div class="bg-white shadow rounded overflow-hidden">
        <div class="px-4 pt-0 pb-4 bg-dark">
          <div class="media align-items-end profile-header">
            <div class="profile mr-3"><img src="#" alt="profile iamge" width="130" class="rounded mb-2 img-thumbnail"></div>
            <div class="media-body mb-5 text-white">
                <h4 class="mt-0 mb-0"><%= current_user.name.capitalize %></h4>
            </div>
          </div>
        </div>

        <div class="bg-light p-4 d-flex justify-content-end text-center">
          <ul class="list-inline mb-0">
              <li class="list-inline-item">
                  <h5 class="font-weight-bold mb-0 d-block"><%= @posts.count %></h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Photos</small>
              </li>
              <li class="list-inline-item">
                  <h5 class="font-weight-bold mb-0 d-block"><%= total_friends %></h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Friends</small>
              </li>
          </ul>
        </div>

        <div class="py-4 px-4">
            <div class="py-4">
                <h5 class="mb-3">Recent posts</h5>
              <% @posts.each do |post| %>
                <div class="p-4 bg-light rounded shadow-sm">
                  <p class="font-italic mb-0"><%= post.content %> </p>
                  <%= link_to "Edit", edit_post_path(post), class: "edit-button" %>
                </div>
            </div>
            <% end %>
        </div>
      </div>

    </div>
</div>